version: 2

project_name: {{project_slug}}

before:
  hooks:
    - go mod tidy

builds:
  - id: {{project_slug}}
    dir: "."
    main: "."
    binary: {{project_slug}}
    flags:
      - -trimpath
    ldflags:
      - -s -w
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - "386"
      - amd64
      - arm64
    goarm:
      - "7"

homebrew_casks:
  - name: {{project_slug}}
    binary: {{project_slug}}
    directory: Casks
    description: {{description}}
    homepage: {{github_url}}
    commit_author:
      name: {{author_name}}
      email: {{author_email}}
    repository:
      owner: {{github_username}}
      name: homebrew-tap
      token: "{% raw %}{{.Env.HOMEBREW_TAP_TOKEN}}{% endraw %}"
    hooks:
      post:
        install: |
          if system_command("/usr/bin/xattr", args: ["-h"]).exit_status == 0
            system_command "/usr/bin/xattr", args: ["-dr", "com.apple.quarantine", "#{staged_path}/{{project_slug}}"]
          end

archives:
  - id: {{project_slug}}
    {% raw %}name_template: >-
      {{ .ProjectName }}-
      {{- .Version }}-
      {{- .Os }}-
      {{- if eq .Arch "amd64" }}x86_64
      {{- else if eq .Arch "386" }}i386
      {{- else }}{{ .Arch }}{{ end }}{% endraw %}

sboms:
  - id: {{project_slug}}
    artifacts: archive
    {% raw %}documents:
      - >-
        {{ .ProjectName }}-
        {{- .Version }}-
        {{- .Os }}-
        {{- if eq .Arch "amd64" }}x86_64
        {{- else if eq .Arch "386" }}i386
        {{- else }}{{ .Arch }}{{ end }}.sbom{% endraw %}

checksum:
  name_template: checksums.txt

snapshot:
  version_template: "{% raw %}{{ .Tag }}-dev{{ .ShortCommit }}{% endraw %}"

changelog:
  # The changelog is handled by release drafter
  disable: true
