// Package {{project_slug}} is a {{description}}.
package {{project_slug}} {%- if not module_path.startswith("github.com") %} // import "{{module_path}}"{% endif %}

// Hello returns a welcome message for the project.
func Hello() string {
	return "Hello {{project_slug}}"
}
