// Package {{project_slug}} is a placeholder for something cool.
package {{project_slug}}

// Hello returns a welcome message for the project.
func Hello() string {
	return "Hello {{project_slug}}"
}
