// Package cmd implements the {{project_slug}} CLI
package cmd

import (
	"fmt"
	"os"

	"github.com/{{github_username}}/{{project_slug}}/cli/app"
	"github.com/MakeNowJust/heredoc/v2"
	"github.com/fatih/color"
	"github.com/spf13/cobra"
)

var (
	version     = "dev"                                // {{project_slug}} version, set at compile time by ldflags
	commit      = ""                                   // {{project_slug}} commit hash, set at compile time by ldflags
	headerStyle = color.New(color.FgWhite, color.Bold) // Setting header style to use in usage message (usage.go)
)

// BuildRootCmd builds and returns the root {{project_slug}} CLI command.
func BuildRootCmd() *cobra.Command {
	// Note: options must be a pointer so flags are propegated to the App struct
	options := &app.Options{}
	{{project_slug}} := &app.App{
		Out:     os.Stdout,
		Options: options,
	}

	rootCmd := &cobra.Command{
		Use:           "{{project_slug}} [arguments]...",
		Version:       version,
		Args:          cobra.ArbitraryArgs,
		SilenceUsage:  true,
		SilenceErrors: true,
		Short:         "{{description}}",
		Long: heredoc.Doc(`
		
		{{description}}

		`),
		Example: heredoc.Doc(`

		# Some examples of your CLI
		$ {{project_slug}} --help
		`),
		RunE: func(cmd *cobra.Command, args []string) error {
			return {{project_slug}}.Run(args)
		},
	}

	// Attach the flags
	flags := rootCmd.Flags()
	flags.BoolVar(&options.Switch, "switch", false, "Some boolean switch")

	// Set our custom version and usage templates
	rootCmd.SetUsageTemplate(usageTemplate)
	{% raw %}rootCmd.SetVersionTemplate(fmt.Sprintf(`{{printf "%s %s\n%s %s\n"}}`, headerStyle.Sprint("Version:"), version, headerStyle.Sprint("Commit:"), commit)){% endraw %}

	return rootCmd
}
