# {{project_name}}

[![License](https://img.shields.io/github/license/{{github_username}}/{{project_slug}})](https://github.com/{{github_username}}/{{project_slug}})
[![Go Report Card](https://goreportcard.com/badge/github.com/{{github_username}}/{{project_slug}})](https://goreportcard.com/report/github.com/{{github_username}}/{{project_slug}})
[![GitHub](https://img.shields.io/github/v/release/{{github_username}}/{{project_slug}}?logo=github&sort=semver)](https://github.com/{{github_username}}/{{project_slug}})
[![CI](https://github.com/{{github_username}}/{{project_slug}}/workflows/CI/badge.svg)](https://github.com/{{github_username}}/{{project_slug}}/actions?query=workflow%3ACI)
[![codecov](https://codecov.io/gh/{{github_username}}/{{project_slug}}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{github_username}}/{{project_slug}})

{{description}}

> [!WARNING]
> **{{project_name}} is in early development and is not yet ready for use**

## Project Description

## Installation

Compiled binaries for all supported platforms can be found in the [GitHub release]. There is also a [homebrew] tap:

```shell
brew install {{github_username}}/homebrew-tap/{{project_slug}}
```

## Quickstart

### Credits

This package was created with [copier] and the [FollowTheProcess/go_copier] project template.

[copier]: https://copier.readthedocs.io/en/stable/
[FollowTheProcess/go_copier]: https://github.com/FollowTheProcess/go_copier
[GitHub release]: https://github.com/{{github_username}}/{{project_slug}}/releases
[homebrew]: https://brew.sh
