project_name: {{project_slug}}

before:
  hooks:
    - go mod tidy

builds:
  - id: {{project_slug}}
    dir: "."
    main: "."
    binary: {{project_slug}}
    ldflags:
      - -s -w
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - "386"
      - amd64
      - arm64
    goarm:
      - "7"

brews:
  - tap:
      owner: {{github_username}}
      name: homebrew-tap
      token: "{% raw %}{{.Env.HOMEBREW_TAP_TOKEN}}{% endraw %}"
    goarm: "7"
    folder: Formula
    commit_author:
      name: {{author_name}}
      email: {{author_email}}
    homepage: {{github_url}}
    description: {{description}}
    license: {{license}}
    install: |
      bin.install "{{project_slug}}"
    test: |
      "#{bin}/{{project_slug}} --version"

archives:
  - id: {{project_slug}}
    {% raw %}name_template: >-
      {{ .ProjectName }}-
      {{- .Version }}-
      {{- .Os }}-
      {{- if eq .Arch "amd64" }}x86_64
      {{- else if eq .Arch "386" }}i386
      {{- else }}{{ .Arch }}{{ end }}{% endraw %}

sboms:
  - id: {{project_slug}}
    artifacts: archive
    {% raw %}documents:
      - >-
        {{ .ProjectName }}-
        {{- .Version }}-
        {{- .Os }}-
        {{- if eq .Arch "amd64" }}x86_64
        {{- else if eq .Arch "386" }}i386
        {{- else }}{{ .Arch }}{{ end }}.sbom{% endraw %}

checksum:
  name_template: checksums.txt

snapshot:
  name_template: "{% raw %}{{ .Tag }}-dev{{ .ShortCommit }}{% endraw %}"

changelog:
  # The changelog is handled by release drafter
  skip: true
