package {{project_slug}}_test

import (
	"testing"

	"github.com/{{github_username}}/{{project_slug}}"
)

func TestHello(t *testing.T) {
	got := {{project_slug}}.Hello()
	want := "Hello {{project_slug}}"

	if got != want {
		t.Errorf("got %s, wanted %s", got, want)
	}
}
